@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Products & Services</span>
                    </div>
                    <ul>
                        <li><a href="#">Artwork</a></li>
                        <li><a href="#">Handcrafted jewelry</a></li>
                        <li><a href="#">Home decor items</a></li>
                        <li><a href="#">Clothing and accessories</a></li>
                        <li><a href="#">Pottery and ceramics</a></li>
                        <li><a href="#">Woodwork and furniture</a></li>
                        <li><a href="#">Antiquing and restoration</a></li>
                        <li><a href="#">Painting and drawing</a></li>
                        <li><a href="#">Graphic design</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Fashion Design</a></li>
                        <li><a href="#">Mechanical and repair</a></li>
                        <li><a href="#">Carpentry</a></li>
                    </ul>
                </div>
            </div>  
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                <div class="dropdown">
                                    Search All Categories 
                                </div>
                            </div>
                            <input type="text" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/hero/banner.png">
                    <div class="hero__text">
                        <span>JOPERA</span>
                        <h2>Artwork <br />100% Creative</h2>
                        <p>Seamlessly Sell or Find Unique Handmade Treasures</p>
                        <a href="~/Products" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-1.png">
                        <h5><a href="#">Artwork</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-2.png">
                        <h5><a href="#">Handcrafted jewelry</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-3.png">
                        <h5><a href="#">Home decor items</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-4.png">
                        <h5><a href="#">Clothing and accessories</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-5.png">
                        <h5><a href="#">Pottery and ceramics</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-6.png">
                        <h5><a href="#">Woodwork and furniture</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-7.png">
                        <h5><a href="#">Antiquing and restoration</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-8.png">
                        <h5><a href="#">Painting and drawing</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-9.png">
                        <h5><a href="#">Graphic design</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-10.png">
                        <h5><a href="#">Photography</a></h5>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-11.png">
                        <h5><a href="#">Fashion Design</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-12.png">
                        <h5><a href="#">Mechanical and repair</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cat-13.png">
                        <h5><a href="#">Carpentry</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<br/><br/>