@page
@model Project_test.Pages.LoginModel
@{
}
<style>

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #7fad39;
	background-color: #ffffff;
	overflow-x: hidden;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #7fad39;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
  color: #ffffff
}

h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #7fad39;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #7fad39;
  background-color: #ffffff;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap {
	position: relative;
	width: 500px; 
	max-width: 100%;
	height: 950px; 
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 800px;
	margin-top: 60px;
}

.card-3d-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: all 600ms ease-out;
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #7fad39;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #000000;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #000000;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
 color: #000000;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #000000;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #7fad39;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{
  background-color: #7fad39;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{
  background-color: #7fad39;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
</style>


<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <form method="post" asp-page-handler="OnPostLogin">
                                            <div class="form-group">
                                                <input type="email" name="Email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="Password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <br />
                                                <button asp-page-handler="Login" class="btn btn-success">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="card-back" id="signup-form">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Sign Up</h4>
                                        <form method="post" asp-page-handler="OnPostSignup">
                                        <div class="form-group">
                                            <input type="text" name="fname" class="form-style" placeholder="Your First Name" id="fname" autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="text" name="lname" class="form-style" placeholder="Your Last Name" id="lname" autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="email" name="email" class="form-style" placeholder="Your Email" id="email" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" name="pass" class="form-style" placeholder="Your Password" id="pass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="tel" name="phone" class="form-style" placeholder="Your Phone Number" id="phone" autocomplete="off">
                                            <i class="input-icon uil uil-phone"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="date" name="birthdate" class="form-style" id="birthdate">
                                            <i class="input-icon uil uil-calendar-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label class="form-label">Gender:</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="gender-male" value="M">
                                                <label class="form-check-label" for="gender-male">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="gender-female" value="F">
                                                <label class="form-check-label" for="gender-female">Female</label>
                                            </div>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="text" name="city" class="form-style" id="city" placeholder="Your City">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="text" name="street" class="form-style" id="street" placeholder="Your Street">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                                <input type="number" name="zipCode" class="form-style" id="zip-code" placeholder="Your ZIP Code">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>

                                        <div id="customerFields" style="display: none;">
                                            <div class="form-group mt-2">
                                                <input type="text" name="customerComm" class="form-style" placeholder="Preferred Communication" autocomplete="off">
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" name="customerCategory" class="form-style" placeholder="Preferred Category" autocomplete="off">
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" name="customerPayment" class="form-style" placeholder="Preferred Payment Method" autocomplete="off">
                                            </div>
                                        </div>

                                        <div id="freelancerFields" style="display: none;">
                                            <div class="form-group mt-2">
                                                <input type="text" name="FreelancerExperience" class="form-style" placeholder="Experience" autocomplete="off">
                                            </div>

                                                <div class="form-group mt-2">
                                                    <label for="WorkingHours">Working hours:</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">from</span>
                                                        <select name="WorkingHour" class="form-control">
                                                            <option value="" selected disabled>Hours</option>
                                                            <script>
                                                                for (let i = 1; i <= 12; i++) {
                                                                    document.write('<option value="' + i + '">' + i + '</option>');
                                                                }
                                                            </script>
                                                        </select>
                                                        <select name="AmPm" class="form-control">
                                                            <option value="" selected disabled>AM/PM</option>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                        <span class="input-group-text">to</span>
                                                        <select name="WorkingHour2" class="form-control">
                                                            <option value="" selected disabled>Hour</option>
                                                            <script>
                                                                for (let i = 1; i <= 12; i++) {
                                                                    document.write('<option value="' + i + '">' + i + '</option>');
                                                                }
                                                            </script>
                                                        </select>
                                                        <select name="AmPm2" class="form-control">
                                                            <option value="" selected disabled>AM/PM</option>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                    </div>
                                                </div>




                                            <div class="form-group mt-2">
                                                <input type="text" name="freelancerProjectN" class="form-style" placeholder="Project Name" autocomplete="off">
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" name="freelancerProjectD" class="form-style" placeholder="Project Description" autocomplete="off">
                                            </div>
                                        </div>

                                        <div class="form-group mt-2">
                                            <label class="form-label">Role:</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="role" id="role-freelancer-signup" value="freelancer" onclick="toggleRoleForm()">
                                                <label class="form-check-label" for="role-freelancer-signup">Freelancer</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="role" id="role-customer-signup" value="customer" onclick="toggleRoleForm()">
                                                <label class="form-check-label" for="role-customer-signup">Customer</label>
                                            </div>
                                            <br />
                                                <button asp-page-handler="Signup" class="btn btn-success">Signup</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleRoleForm() {
        var signupForm = document.getElementById('signup-form');
        var roleCustomer = document.getElementById('role-customer-signup');
        var roleFreelancer = document.getElementById('role-freelancer-signup');
        var customerFields = document.getElementById('customerFields');
        var freelancerFields = document.getElementById('freelancerFields');

        if (roleCustomer.checked) {
            customerFields.style.display = 'block';
            freelancerFields.style.display = 'none';
        } else if (roleFreelancer.checked) {
            customerFields.style.display = 'none';
            freelancerFields.style.display = 'block';
        } else {
            customerFields.style.display = 'none';
            freelancerFields.style.display = 'none';
        }
    }
</script>